{%  extends 'Pagelayout.twig' %}

{% block subtitle %}
    <h2>Connexion</h2>
{% endblock %}


{%  block body %}
<div class="row justify-content-center">
    <div class="col-9">
        <form method="post" action="">
        <div class="form-group">
            <label for="identifiant">Identifiant</label>
            <input type="email" class="form-control" name="login" aria-describedby="indicationIdentifiant">
            <small id="indicationIdentifiant" class="form-text text-muted">Inscris ton adresse email</small>
        </div>
        <div class="form-group">
            <label for="mot_de_passe">Mot de passe</label>
            <input type="password" class="form-control" name="mot_de_passe">
            <small id="indicationMotDePasse" class="form-text text-muted"><a href="#">Mot de passe oublié ?</a></small>
        </div>
        <button type="button" class="btn btn-warning btn-lg"><a href="?controller=index">Se connecter</a></button>
        </form>
    </div>
</div>
{% endblock %}