<section>
    <div class="col-12">
        <ul>
            <li><a href="">Crédit</a> </li>
            <li><a href="">Plan de site</a> </li>
            <li><a href="">Contact</a> </li>
        </ul>
    </div>
</section>



