{%  extends 'Pagelayout.twig' %}

{% block subtitle %}
    <h2>Gestion des équipes</h2>
{% endblock %}

{%  block body %}
<div class="row justify-content-center">
  <div class="col-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Entraineur</th>
          <th scope="col">Logo</th>
        </tr>
      </thead>
      {% if isAdmin == 1 %}
      <button type="button" id="newequipe" class="btn btn-link"><a href="?controller=equipes&action=createEquipe">+ Ajout d'une nouvelle équipe</a></button>
      {% endif %}
      {% for equipe in listEquipes %}
        <tbody>
        <td><a href="?controller=equipes&action=AffEquipe&id={{equipe.id_equipe}}">{{equipe.nom_equipe}}</a></td>
        <td><p>{{equipe.nom_entraineur}}</p></td>
        <td><img src=public/upload/{{equipe.logo}} style="width:100px;height:100px;"/></td>
        </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}