{%  extends 'Pagelayout.twig' %}

{% block subtitle %}
    <h2>Modifier l'utilisateur</h2>
{% endblock %}

{%  block body %}
    <div class="row justify-content-center">
        <div class="col-9">
            <form method="post" action="">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" value="{{utilisateur.nom}}">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" name="prenom" id="prenom" value="{{utilisateur.prenom}}">
                </div>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="email" class="form-control" name="login" id="login" aria-describedby="indicationLogin" value="{{utilisateur.login}}">
                    <small id="indicationLogin" class="form-text text-muted">Inscrire une adresse email</small>
                </div>
                <div class="form-group">
                    <label for="mot_de_passe">Mot de passe</label>
                    <input type="password" class="form-control" name="mot_de_passe" id="mot_de_passe" value="{{utilisateur.mot_de_passe}}">
                </div>
                <button type="submit" id="modification" class="btn btn-primary">Modifier</button>
                <a href="javascript:window.close();"><button type="submit" id="retour" class="btn btn-light">Retour</button></a>
            </form>
        </div>
    </div>
{% endblock %}