{%  extends 'Pagelayout.twig' %}

{% block subtitle %}
    <h2>Modifier l'utilisateur</h2>
{% endblock %}

{%  block body %}
    <div class="row justify-content-center">
        <div class="col-9">
            <form method="post" action="index.php">
                <input type="hidden" name="controller" value="utilisateurs"/>
                <input type="hidden" name="action" value="modifUtilisateur"/>
                <input type="hidden" name="id" value="{{utilisateur.id}}"/>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" value="{{utilisateur.nom}}">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" name="prenom" id="prenom" value="{{utilisateur.prenom}}">
                </div>
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="email" class="form-control" name="login" id="login" aria-describedby="indicationLogin" value="{{utilisateur.login}}">
                    <small id="indicationLogin" class="form-text text-muted">Inscrire une adresse email</small>
                </div>
                <div class="form-group">
                    <label for="mot_de_passe">Mot de passe</label>
                    <input type="password" class="form-control" name="mot_de_passe" id="mot_de_passe" value="●●●●●●●">
                </div>
                <button type="submit" name="modifier" class="btn btn-primary">Modifier</button>
                <button type="submit" name="retour" class="btn btn-light">Retour</button>
            </form>
        </div>
    </div>
{% endblock %}